@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


main {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* ------------------Ngkyfhgdtjgh------------------ */
/* top players styles */

/* ----------------Banner styles---------------- */
.banner-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: tomato;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
}

.text-title {
    color: white;
    margin-left: 50px;
}

#banner-bttn {
    border: none;
    color: #FFFFFF;
    padding: 5px 20px;
    background-color: #DD0000;
}



/* --------------Card-Drsign styles------------ */

.card-container {
    display: flex;

}

/* --------------3 Single-Button------------ */
.card-cont {
    width: 200px;
    height: 150px;
    background-color: rgb(22, 20, 20);
    text-align: center;
    color: #FFFFFF;
    margin-top: 80px;
    /* margin-left: 50px; */
    border-radius: 5px;
    /* line-height: 30px; */
}

.card {
    padding: 10px;
    margin: 3px;
}

.card a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#red-bttn {
    color: #FFFFFF;
    background-color: tomato;
}

/* --------------Multiple-Card-Start-style------------ */
.player-Galarey {
    width: 312px;
    margin-top: 70px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.player-list {
    border: 1px solid gray;
    border-radius: 11px;
    margin: 10px;
}

.bttn {
    margin-left: 10px;
}

.player-title {
    margin-left: 10px;
}


/* --------------Footer-------------- */
.footer {
    background-color: black;
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

hr {
    color: #FFFFFF;
}

.footer-text a {
    text-decoration: none;

}

.footer-text {
    text-align: center;


}

#centered {
    justify-content: space-evenly;
}




/* -------Media query for Banner=====Mobile device------- */
@media only screen and (max-width: 677px) {

    .container {
        width: 100%;
    }

    .banner-control {
        grid-template-columns: repeat(1, 1fr);
        background-color: cadetblue;
        flex-direction: column-reverse;
    }

}

/* -------Media query for Banner ======= tablet------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .banner-control {
        grid-template-columns: repeat(2, 1fr);
        background-color: deeppink;
        border-radius: 5px;
    }

}


/* -------Media query for Photo Galaery=====Mobile device------- */

@media only screen and (max-width: 677px) {

    .container {
        width: 100%;
    }

    .card-cont,
    .player-list {
        grid-template-columns: repeat(1, 1fr);
        background-color: tan;
    }

}

/* -------Media query for Photo Galaery ======= tablet------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        background-color: tomato;
        border-radius: 5px;
    }



}